canvas     { border: 0px solid red; 
} 
body       { background-color:White; 
}
#buttons { float: left;
}
#canvasDiv { float: right;
}

#labels { //vertical-align: left;
	  //margin-left: 180;
        float: right;

	width: 60%;
}

input { font-size: 40;
	font-family: Times;
	font-style: italic;
}

.lab { font-style: italic }
.def { font-style: normal }

.lab, .def { font-size: 24 }